{% macro tag_block(name, tags) %}
<div class="mrg-b5">
  <h2 class="tb1 tb-upper mrg-b5">{{ name }}</h2>
  <div class="fx-row fx-wrap gap4">
    {% for tag in tags %}
    <div class="tag fx-row fx-center">
      <span class="tb0">{{ tag.name }}</span>
    </div>
    {% endfor %}
  </div>
</div>
{% endmacro %}

{% macro qs_tag_block(qualityStandards) %}
<div class="mrg-b5">
  <h2 class="tb1 tb-upper mrg-b5">Quality Standards</h2>
  <ul class="qs-tag-container">
    {% for qs in qualityStandards %}
    <li>
      {% if qs.iconUrl %}
      <div class="logo">
        <div class="round">
          <img src="{{ qs.iconUrl }}" onerror="this.src='/resources/assets/img/placeholder.svg'; this.onerror=null;">
        </div>
      </div>
      {% endif %}
      {{ qs.id + ' - ' + qs.name }}
    </li>
    {% endfor %}
  </ul>
</div>
{% endmacro %}

{% macro section(title, description) %}
{% if description %}
<h3 class="tb3 tb-w2-500">{{ title }}</h3>
<p class="tb1 color-text-secondary tb-w2-400">{{ description }}</p>
{% endif %}
{% endmacro %}

{% macro code_block(content) %}
{% if content %}
<pre style="white-space: pre-wrap;">
  <code>{{ content }}</code>
</pre>
{% endif %}
{% endmacro %}

{% macro code_section(title, description) %}
{% if description %}
<h3 class="tb3 tb-w2-500">{{ title }}</h3>
<p class="tb1 color-text-secondary tb-w2-400">
<pre style="white-space: pre-wrap;">
    <code>{{ description }}</code>
  </pre>
</p>
{% endif %}
{% endmacro %}

{% if details %}
<article class="details">
  <h2 class="tb4">{{ details.name }}</h2>
  <div class="pd-t24">
    <div class="mrg-b20">
      {% if details.businessCriteria %}
      {{ tag_block("Business Criteria", details.businessCriteria) }}
      {% endif %}
      {% if details.qualityStandards %}
      {{ qs_tag_block(details.qualityStandards) }}
      {% endif %}
      {% if details.technologies %}
      {{ tag_block("Technologies", details.technologies) }}
      {% endif %}
      {% if details.technicalCriteria %}
      {{ tag_block("Technical Criteria", details.technicalCriteria) }}
      {% endif %}
    </div>
    <div>
      {{ section("Description", details.description) }}
      {{ section("Rationale", details.rationale) }}
      {{ section("Remediation", details.remediation) }}
      {{ code_section("Remediation Sample", details.remediationSample) }}
      {{ code_section("Sample", details.sample) }}
    </div>
  </div>
</article>
{% endif %}