{% include "auth_dialog.html" %}

<div id="si-btn" class="btn-group auth-user-ctnr" hx-swap-oob="true">
    <button type="button" class="btn btn-default dropdown-toggle auth-user" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        {{ user.initials }}
    </button>
    <ul class="dropdown-menu" style="left: -50px; min-width: 50px">
        <li hx-post="/api/sso/signout" hx-target="#habp" hx-swap="outerHTML">
            <a href="#">Signout</a>
        </li>
    </ul>
</div>