<footer class="appbar">
  <div class="appbar-container">
    <div class="fx fx-gap16">
      <a class="footer-text no-dec tb1" href="https://help.castsoftware.com/hc/en-us" target="_blank">Contact Us</a>
      <a class="footer-text no-dec tb1" target="_blank" href="https://www.castsoftware.com/privacy">Privacy Policy</a>
    </div>
    <p class="footer-text tb1">© 2023 - CAST All Rights Reserved</p>
    <a class="nodec pc" target="_blank" href="https://www.castsoftware.com/">
      <div class="cast-logo">
      </div>
    </a>
  </div>
</footer>