{% macro navitem(entry, index, is_leaf) %}
{% set expd = entry.items|length !== 0 %}
{% if is_leaf and (entry.count === undefined or entry.count > 0) %}
<li role="treeitem" tabindex="{{ index }}" hx-get="/api/{{ entry.href }}" hx-target="#main" hx-swap="innerHTML"
  hx-trigger="click consume">
  {% if entry.selected %}
  <div class="navitem nav-active" title="{{ entry.name }}">
    {% else %}
    <div class="navitem" title="{{ entry.name }}">
      {% endif %}
      <img src="{{ entry.iconUrl }}" onerror="this.src='/resources/assets/img/placeholder.svg'; this.onerror=null;"
        alt="" width="26px" height="26px">
      <label class="tb2 tnr tb-cap">{{ entry.displayName or entry.name }}</label>
    </div>
</li>
{% elif is_leaf and entry.count !== undefined and entry.count === 0 %}
<li role="treeitem" tabindex="{{ index }}">
  <div class="navitem" title="{{ entry.name }}">
    <img src="{{ entry.iconUrl }}" onerror="this.src='/resources/assets/img/placeholder.svg'; this.onerror=null;" alt=""
      width="26px" height="26px">
    <label class="tb2 tnr tb-cap" style="color:grey;">{{ entry.displayName or entry.name }}</label>
  </div>
</li>
{% else %}
<li role="treeitem" tabindex="{{ index }}" {% if not expd %} hx-get="/api/{{ entry.href }}"
  hx-target="find ul.navitem-content" hx-swap="innerHTML" hx-trigger="click once" {% endif %}>
  <div class="navitem" data-toggle="collapse" {% if expd %} aria-expanded="true" {% endif %}
    data-target="#navitem-{{ entry.name | replace(' ', '-') | replace('.', '-') }}" title="{{ entry.name }}">
    <img src="{{ entry.iconUrl }}" onerror="this.src='/resources/assets/img/placeholder.svg'; this.onerror=null;" alt=""
      width="26px" height="26px">
    <label class="tb2 tnr {{ '' if entry.ignoreTitleTransform else 'tb-cap'}}">{{ entry.displayName or entry.name }}</label>
  </div>
  <ul id="navitem-{{ entry.name | replace(' ', '-') | replace('.', '-') }}" {% if expd %}
    class="navitem-content collapse in" aria-expanded="true" {% else %} class="navitem-content" {% endif %}
    role="group">
    {% for child in entry.items %}
    {{ navitem(child, loop.index0, child.isLeaf) }}
    {% endfor %}
  </ul>
</li>
{% endif %}
{% endmacro %}

<div class="nav-tab">
  <img src="/resources/assets/img/menu_open.svg"/>
</div>
<nav id="nav-main">
  {% for item in navbar %}
  {{ navitem(item, loop.index0, item.isLeaf) }}
  {% endfor %}
</nav>